body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/* #ffe0e5e0 */
.player {
    background: #fadfe5c8; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 80vh;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
nav .circle:hover {
    color: #333;
}
.player h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #444;
}

.player p {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div {
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2) {
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}
.controls div:hover {
    color: #333;
} 

.song-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

audio {
    margin-top: 20px;
    width: 100%;
    outline: none;
}